name: Full EWAH Release - GitHub tag, PyPi package, and Docker image

on:
  push:  # only run on a merged PR to main
    branches:
      - master
    paths:  # Only run if VERSION is bumped by the push
      - VERSION

jobs:
  release:
    name: Release to PyPi
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Create GitHub Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # To authenticate POST
        run: |
          VERSION=$(cat VERSION)
          echo Creating Release v$VERSION
          curl -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H 'Authorization: token '"${GITHUB_TOKEN}" \
            'https://api.github.com/repos/'"${GITHUB_REPOSITORY}"'/releases' \
            -d '{"tag_name":"v'"${VERSION}"'", "name":"v'"${VERSION}"'", "body":"This Release was automatically created by a GitHub Action after the merge of a PR. Please check the appropriate PR for the changelog."}'
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.8'
      - name: Install dependencies for PyPi publication
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
      - name: Build and publish Python package to PyPi
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          python setup.py sdist bdist_wheel
          twine upload --skip-existing dist/*
  build:
    name: Build and publish Docker images
    runs-on: ubuntu-latest
    needs: release
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set executable permissions
        run: |
          # Need to give executable rights locally, otherwise image will not
          # be able to run properly - else will get a permission denied error on it
          chmod +x docker/scripts/entrypoint_prod.sh
      - name: Get version
        id: version
        run: echo "VERSION=$(cat VERSION)" >> $GITHUB_OUTPUT
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push Docker images
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          build-args: |
            package_version=${{ steps.version.outputs.VERSION }}
          tags: |
            gemmaanalytics/ewah:v${{ steps.version.outputs.VERSION }}
            gemmaanalytics/ewah:latest
